.keyboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  gap: .8rem;

  .key {
    background-color: transparent;
    border: .3rem solid #fff;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    aspect-ratio: 1 / 1;
    cursor: pointer;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: #22c55e;
    }
    &.active {
      background-color: #22c55e;
    }
    &.inactive {
      opacity: 0.3;
    }
  }
}